<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Catel.Core" version="4.2.0-unstable0162" targetFramework="net45" />
  <package id="Catel.Extensions.Controls" version="4.2.0-unstable0162" targetFramework="net45" />
  <package id="Catel.MVVM" version="4.2.0-unstable0162" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
  <package id="Orchestra.Core" version="2.2.0-unstable0099" targetFramework="net45" />
  <package id="Orchestra.Shell.MahApps" version="2.2.0-unstable0099" targetFramework="net45" />
</packages>